---
layout: default
---

<div class="home">

  {{ content }}

  <h2 class="page-heading">Senaste från bloggen</h2>
  
  <ul class="post-list">
    {% for post in site.posts %}
     
      <img src="{% if post.img %} {{ post.img | prepend: site.baseurl }} {% else %} {{ site.baseurl }}/images/noimg.jpg{% endif %}" alt="image" class="img-responsive">
      <li>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
        
        <p>{{ post.excerpt }}</p>
      </li>
    {% endfor %}
  </ul>

 

</div>
