---
layout: default

---

<div class="home">
  <div class="columns">  
    <div class="col-70">
     
     
    <img src="/images/casper.jpg" alt="Casper" class="img-responsive">
    
    <br>  
    
    <h2>Kortfattat </h2>  
    
   <p>  
   Namn: Casper <br>
   AKA: csk87, ck222re <br>
   Bor: 3mil norr om Sthlm <br>
   Jobb: Egen firma (samt student) 
   </p> 
 
   <h2>Utbildningar</h2>  
    
    <ul>
      <li>Webbmaster - Högskolan Väst - (ej färdig)</li>
      <li>Webbprommering - Jensen education</li>
      <li>Webbutveckling - Jensen education</li>
      </ul>
 
    </div>
    
    <div class="col-30">
    <div class="sidebar">
    <h2>Blogginlägg</h2>
      <ul>
        {% for post in site.posts %}
        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
      </ul>
    </div><!--/ sidebar -->  
    </div>
  </div>
</div>
